main {
  position: absolute;
  width: calc(100vw - 248px - 60px);
  max-height: calc(100vh - 50px - 60px);
  padding: 30px;
  left: 248px;
  top: 50px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

main .object {
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

main .object .name {
  font-size: 15px;
  padding: 3px 5px;
  border-radius: 5px;
}

main .object:hover {
  color: var(--color-text);
}

main .object:hover .name {
  background-color: var(--color-sidebar-hover);
}

main .add {
  color: var(--color-text-dark);
}
