@import url("/s/color.css");
@import url("/s/sidebar.css");
@import url("/s/topbar.css");

body {
  /*
   * Some of the most common system fonts of
   * different operating systems
   */
  font-family: ui-sans-serif, "Segoe UI", "Roboto", "SF Pro", "Noto", "Ubuntu",
    sans-serif;

  background-color: var(--color-background);
  color: var(--color-text-secondary);
  user-select: none;
}
